* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  background-color: #020202;
  font-family: sans-serif;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  padding: 16px 5%;
  font-size: 12px;
}

header img {
  height: 28px;
}

header a {
  text-decoration: none;
  color: white;
  margin-left: 16px;
}

header button {
  background: none;
  color: white;
  border: none;
  margin-right: 16px;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
}

nav + nav {
  margin-left: auto;
}

.search {
  margin-left: auto;
}

.profile-image {
  width: 40px;
  height: 30px;
  border-radius: 4px;
}
#moviesDetailsResponse{
  display: flex; 
  justify-content: space-around;
}
@media screen and (max-width: 600px) {
  #moviesDetailsResponse{
    display: block; 
  }
}
@media screen and (max-width: 600px) {
  #LayOutResponsive{
width: 1%;
  }
}
#videoTrailer{
  width: 100%;
}
#logoLayOut{
  height: 51px;
  border-radius: 63%;
}

